<%- include("navbar.ejs") %>


<div class="container-fluid shadow mt-5 mb-5 py-5">


<div class="card card-body rounded-0 p-3 ">
    <h1 class="text-center mb-3">Blog Section</h1>


    <form action="/admin/save_blog" method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-6">
                <label class="mt-3">Select Blog Image</label>
                <input type="file" class="form-control mt-3 mb-3" name="blog_img">
            </div>

            <div class="col-md-6">
                <label class="mt-3">Bloger's Name</label>
                <input type="text" class="form-control mt-3 mb-3" name="bloger_name">
            </div>

            <div class="col-md-6">
                <label class="mt-3">Blog Heading</label>
                <input type="text" class="form-control mt-3 mb-3" name="blog_head">
            </div>

            <div class="col-md-6">
                <label class="mt-3">Blog' Details</label>
                <textarea class="form-control mt-3 mb-3" rows="5" name="blog_details"></textarea>
            </div>

            <div class="col-md-12 text-center mt-3">
                <button class="btn btn-primary ">Save Blog</button>
            </div>
        </div>
    </form>
</div>


<div class="card card-body table-responsive">

    <h1 class="text-center my-3">Blog List</h1>
    <table class="table table-bordered  " >
        <tr>
            <th>Sr</th>
            <th>Action</th>
            <th>Blog Image</th>
            <th>Bloger's Name</th>
            <th>Blog Heading</th>
            <th>Blog Details</th>
        </tr>

        <% sr=1; for(i of bdata) { %>

            <tr>
                <td><%=sr++%></td>
                <td>
                    <a href="/admin/delete_blog/<%=i.id%>" ><button class="btn btn-sm mt-1 btn-danger"><i class="fa fa-trash"></i></button></a>
                    <a href="/admin/edit_blog/<%=i.id%>" ><button class="btn btn-sm mt-1 btn-primary"><i class="fa fa-edit"></i></button></a>
                </td>
                <td><img src="/uploads/<%=i.blog_img%>" width="250px" ></td>
                <td> <%=i.bloger_name%>  </td>
                <td> <%=i.blog_head%>  </td>
                <td > <%=i.blog_details%>  </td>
            </tr>

        <% } %>
    </table>
</div>


</div>



<%- include("footer.ejs") %>