<%- include("navbar.ejs")%>

<div class="card card-body rounded-0 shadow p-3 ">
    <h1 class="py-2 text-center"> Update Team Member</h1>

    <form action="/admin/update_team" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%=tdata.id%>">
        <div class="row">
            <div class="col-md-6">
                <label class="my-3">Team Member Name</label>
                <input type="text" name="team_name" class="form-control" value="<%=tdata.team_member%>">
            </div>

            <div class="col-md-6">
                <label class="my-3">Team Memeber's Instagram link</label>
                <input type="url" name="team_instagram" class="form-control" value="<%=tdata.team_instagram%>">
            </div>


            <div class="col-md-3">
                <label class="my-3">Team Member Photo </label>
                <input type="file" name="team_img" class="form-control">
            </div>
            
            <div class="col-md-3">
                <img src="/uploads/<%=tdata.team_img%>" class="img-fluid" height="150px">
            </div>
           

            

            <div class="col-md-6">
                <label class="my-3">Team Memeber's Facebook link</label>
                <input type="url" name="team_facebook" class="form-control" value="<%=tdata.team_facebook%>">
            </div>

           

            <div class="col-md-6">
                <label class="my-3">Team Member Position </label>
                <input type="text" name="team_position" class="form-control" value="<%=tdata.team_position%>">
            </div>

            

            <div class="col-md-6">
                <label class="my-3">Team Memeber's Twitter link</label>
                <input type="url" name="team_twitter" class="form-control" value="<%=tdata.team_twitter%>">
            </div>

            <div class="col-md-12 py-3 text-center">
                <button class="btn btn-warning">Save Team</button>
            </div>


        </div>
    </form>
</div>

<%- include("footer.ejs")%>