<%- include('navbar.ejs')%>

    <div class="card card-body rounded-0 p-3 shadow">
        <form action="/admin/update_about_us_info" method="post" enctype="multipart/form-data">
            <div class="container">
                <div class="row">
                    <div class="mt-2 col-md-12">
                        <h3>Update Information About Us</h3>
                    </div>
                    <input type="hidden" name="about_us_id" value="<%-info.about_us_id%>">
    
                    <div class="mt-2 col-md-6">
                        <label class="mb-2">Enter Heading</label>
                        <input type="text" name="about_heading" value="<%-info.about_heading%>" class="form-control">
                    </div>
                    <div class="mt-2 col-md-4">
                        <label class="mb-2">Select Image</label>
                        <input type="file" name="about_us_info_image" class="form-control">
                    </div>
                    <div class="col-md-2 mt-3">
                        <img src="/user/images/about_us/<%-info.about_us_info_image%>" class="w-50 mt-2">
                    </div>
                    <div class="mt-2 col-md-12">
                        <label class="mb-2">Enter Description</label>
                        <textarea name="about_us_desc" class="form-control"><%-info.about_us_desc%></textarea>
                    </div>
                    <div class="mt-2 col-md-6">
                        <label class="mb-2">Enter Button Name</label>
                        <input type="text" name="button_name" value="<%-info.button_name%>" class="form-control">
                    </div>
                    <div class="mt-2 col-md-6 text-end mt-4">
                        <button class="btn btn-warning">Update Info</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <%- include('footer.ejs')%>