<%- include('navbar.ejs')%>

<div class="card card-body rounded-0 shadow p-3">

    <form action="/admin/update_mission_vission" method="post">
        <div class="containner">
            <div class="row">
                <div class="col-md-12 mb-2">Update Information</div>
                <input type="hidden" name="mvinfo_id" value="<%-info.mvinfo_id%>">
            </div>
            <div class="col-md-12">
                <label>Enter Our Company History</label>
                <textarea name="our_company_history" class="form-control mt-2"><%-info.our_company_history%></textarea>
            </div>
            <div class="col-md-12">
                <label>Enter Our Success Mission</label>
                <textarea name="our_success_mission" class="form-control mt-2"><%-info.our_success_mission%></textarea>
            </div>
            <div class="col-md-12">
                <label>Enter Our Future Plan</label>
                <textarea name="our_future_plan" class="form-control mt-2"><%-info.our_future_plan%></textarea>
            </div>
            <div class="col-md-12 text-end">
                <button class="btn btn-warning mt-2">Update Information</button>
            </div>
        </div>
    </form>


</div>

<%- include('footer.ejs')%>