<%- include("navbar.ejs")%>





<section class="faq_bread" data-aos="fade-down" data-aos-duration="500">
    <div class="container py-5 topbar">
        <div class="row py-5">
            <h1 class="text-white text-center">FAQ's</h1>
            <nav class="breadnav" aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item fs-5">
                        <a class="text-decoration-none text-white" href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item fs-5 active text-warning" aria-current="page">
                        FAQ's
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</section>


    
<section class="FAQ_section">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center py-4">
                    <img height="350" src="/user/images/faq_img1.gif" />
                    <h2 class="py-2">We’re here to help with any question of our customers</h2>
                </div>
                <!-- FAQ Questions and Answers section -->
                <div class="accordion " id="accordionExample">
                    <!-- 1st question -->

                    <% sr=1; for(i of fdata) { %>
                    <div class="accordion-item">
                        <h2 class="accordion-header  shadow-sm rounded-5 border-0" id="headingOne">
                            <button class="accordion-button  collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#<%=i.id%>" aria-expanded="true" aria-controls="<%=i.id%>">
                                <p class="fw-semibold karan"><%=sr++%>. <%=i.faq_que%></p>
                            </button>
                        </h2>
                        <div id="<%=i.id%>" class="accordion-collapse collapse " aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body py-4">
                                <%=i.faq_ans%>
                            </div>
                        </div>
                    </div>
                    <% } %>


                </div>
            </div>
        </div>
    </div>
    </div>
</section>










<%- include("footer.ejs")%>



<% for(i of fdata) { %>
    <div class="accordion-item my-2 border border-1 rounded-0">
    <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%=i.id%>" aria-expanded="false" aria-controls="<%=i.id%>">
        <%=i.faq_que%>
    </button>
    </h2>
    <div id="<%=i.id%>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        <%=i.faq_ans%>
    </div>
    </div>
    </div>
    
    <% } %>