<%- include("navbar.ejs")  %>


<section class="project_details_bread" data-aos="fade-down" data-aos-duration="500">
    <div class="container py-5 topbar">
      <div class="row py-5">
        <h1 class="text-white text-center">Project Details</h1>
        <nav class="breadnav" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item fs-5">
              <a class="text-decoration-none text-white" href="/index.html">Home</a>
            </li>
            <li class="breadcrumb-item fs-5">
                <a class="text-decoration-none text-white" href="/projects.html">Our Projects</a>
              </li>
            <li class="breadcrumb-item fs-5 active text-warning" aria-current="page">
              Project Details
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </section>
  <!-- Project bread end -->
   <!-- Project Detail section -->
  


<!-- Project Detail section -->
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="overflow-hidden img_hover position-relative">
                <img src="/user/images/project_details_img1.jpg" alt="Project details Image" class="w-100">
                <div class="case-study bg-dark">
                    <div class="row py-3">
                        <div class="col-md-3 col-12 text-center">
                            <h3 class="text-white">Project Date</h3>
                            <p class="fw-normal common_color"><%=pdata.project_date%></p>
                        </div>
                        <div class="col-md-3 col-12 text-center">
                            <h3 class="text-white">Client</h3>
                            <p class="fw-normal common_color"><%=pdata.client_name%></p>
                        </div>
                        <div class="col-md-3 col-12 text-center">
                            <h3 class="text-white">Categories</h3>
                            <p class="fw-normal common_color"><%=pdata.project_type%> , <%=pdata.project_name%></p>
                        </div>
                        <div class="col-md-3 col-12 text-center">
                            <h3 class="text-white">Budget</h3>
                            <p class="fw-normal common_color"><span><i class="fa-solid fa-indian-rupee-sign"></i></span> <%=pdata.project_budget%></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Project detail section end -->
    <div class="container project-section py-1">
      <div class="row">
          <div class="col-md-6">
             <div>
              <h2 class="fw-semibold">Project Basic Info</h2>
              <p class="fw-normal"><%=pdata.project_basic_info%></p>
             </div>
             <div>
              <h2 class="fw-semibold">Project Challenge</h2>
              <p class="fw-normal"><%=pdata.project_challenge%></p>
             </div>
          </div>

          <!-- Right Column with List and Image -->
          <div class="col-md-6 ">
            <div class="overflow-hidden img_hover">
              <img src="/uploads/<%=pdata.project_img%>" alt="Blog Image" class=" img-fluid w-100">
            </div>
          <!-- Replace with your image path -->
          </div>
      </div>
  </div>
  <!-- Related Project section -->
  <div class="container py-5">
    <div class="row">
      <h1 class="fw-semibold">Related Projects</h1>
      <% for(let i=0;i<3;i++) { %>
      <div class="col-sm-6 col-lg-4 p-2" >
        <a href="/project_details/<%=rdata[i].id%>">
          <div class="position-relative card_div " >
            <div class="card card-body position-absolute bg-white rounded-0 border-0 arrow-card text-center shadow-lg">
              <i class="fa-solid fa-arrow-right common_color fs-4"></i>
            </div>
            <div class="position-relative master allimg_size">
              <div class="overlay-divs p-3">
                <p class="text-white"><%=rdata[i].project_type%></p>
                <h2 class="common_color"><%=rdata[i].project_name%></h2>
              </div>
              <img src="/uploads/<%=rdata[i].project_img%>" alt="Blog Image" class="img-fluid w-100 h-100" >
            </div>
          </div>
        </a>
      </div>
      <% } %>
          </div>
  </div>
   <!-- Related Project Section end -->





<%- include("footer.ejs")  %>